## Libraries

In [19]:
import json

import pandas as pd 
import numpy as np

## Dataset

Annotations

In [18]:
with open('./Dataset/SSID_Annotations/SSID_Train.json') as f:
    train_data = json.load(f)
    
with open('./Dataset/SSID_Annotations/SSID_Test.json') as f:
    test_data = json.load(f)

with open('./Dataset/SSID_Annotations/SSID_Validation.json') as f:
    val_data = json.load(f)

Convert to DataFrame

In [21]:
flattened_data = [item for sublist in train_data['annotations'] for item in sublist]
train_df = pd.DataFrame(flattened_data)

flattened_data = [item for sublist in test_data['annotations'] for item in sublist]
test_df = pd.DataFrame(flattened_data)

flattened_data = [item for sublist in val_data['annotations'] for item in sublist]
val_df = pd.DataFrame(flattened_data)

In [22]:
train_df

,storylet_id,storytext,youtube_image_id,album_id,story_id,image_order
0,5887,Today I am in my friends house and he is very ...,2001,10856,5887,1
1,5888,He is telling me about his car.,2002,10856,5887,2
2,5889,He is telling me about his car's feature.,2003,10856,5887,3
3,5890,The car color is white and it looks awesome an...,2004,10856,5887,4
4,5891,Now he is telling me about all doors and seats...,2005,10856,5887,5
...,...,...,...,...,...,...
62495,41431,Seem like two girls,16996,25851,41431,1
62496,41432,One man is starting to space off,16997,25851,41431,2
62497,41433,The girls seem happy,16998,25851,41431,3
62498,41434,The man is on the couch with them.,16999,25851,41431,4
62499,41435,He is laying down now and it was good day.,17000,25851,41431,5